<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Добавление записи</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="sticky-footer-navbar.css" >
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <main class="flex-shrink-0">
            <div class="container mt-5 mb-5">
                <br><h1>Добавление записи к врачу</h1><br>
                <form action="/patient/add" method="post">
                    <select class="form-select" th:each="el : ${doctors}">
                        <option th:value="${el.id_doctor}" th:text="${el.spec} + ' ' + ${el.fio}" />
                    </select><br>
                    <select class="form-select" th:each="el : ${patients}">
                        <option th:value="${el.id_patient}" th:text="${el.fio}" />
                    </select><br>
                    <input type="text" name="date_visit" placeholder="Введите дату и время записи" class="form-control"><br>
                    <button type="submit" class="btn btn-success">Записать</button>
                </form>
            </div>
        </main>
        <footer class="footer mt-auto py-3 bg-light" th:insert="blocks/footer :: footer"></footer>
    </body>
</html>